.header-outer-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem;
    
    .header-title{
        font-weight: 900;
        font-size: large;
        cursor: pointer;
    }
    
}

#addNew {
    margin-left: 1rem;
}