.example-container{
    text-align: center;
}

.form-container{
    width: 400px; 
    margin: 0px auto; 
    margin-top: 100px;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
   
}

.form-field{
    display: block
}