<h1 mat-dialog-title>{{ title }}</h1>

<form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <mat-card class="new-ticket-card">

      <mat-card-content>
        <p>
          <mat-form-field appearance="outline"> 
            <mat-label>Summary</mat-label>
            <input matInput formControlName="summary"/>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Assignee</mat-label>
            <input matInput placeholder="Assignee" />
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
        </p>
        <p></p>
      </mat-card-content>
    </mat-card>
  </div>

  <div mat-dialog-actions>
    <button mat-stroked-button color="primary">
      Add
    </button>
    <button mat-button (click)="onNoClick()" type="button">Close</button>
  </div>
</form>
