
<div class="board-column" id="{{column.name}}_{{boardNo}}">
    <div class="column-title">{{ column.name }}</div>
    <div
      class="task-container"
      cdkDropList
      [cdkDropListData]="column.tasks"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="tasks"
        *ngFor="let item of column.tasks; let i = index"
        cdkDrag
      >
        {{ item }}
        <div>
          <i
            class="material-icons md-18"
            routerLink="editTicket"
            [queryParams]="{ dialog: 'edit', task: i, column: column.name }"
            *ngIf="boardNo != (board.column.length-1)"
            >create</i
          >
          <span class="material-icons md-18" (click)="onDelete(i, column.name)">
            delete
          </span>
        </div>
      </div>
    </div>
  </div> 