<div class="app-header">
  <app-header></app-header>
</div>

<div class="board">
  <div class="board-wrapper">
    <div class="board-columns" cdkDropListGroup>
      <div class="board-column" *ngFor="let column of board.column">
        <div class="column-title">{{ column.name }}</div>
        <div
          class="task-container"
          cdkDropList
          [cdkDropListData]="column.tasks"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="tasks" *ngFor="let item of column.tasks" cdkDrag>
            {{ item }}
            <i class="material-icons md-18" routerLink="editTicket" [queryParams]="{dialog: 'edit'}">create</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
